<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Common.Properties.Settings.AGV_Control_CenterConnectionString"
            connectionString="Data Source=C8810\SQLEXPRESS;Initial Catalog=AGV_Control_Center;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>